---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
// assets/scss/style.scss

// Font import
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

// Color variables
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$text-color: #2c3e50;

// Dark Theme Colors
$primary-color-dark: #183D3D;
$secondary-color-dark: #5C8374;
$background-color-dark: #040D12;
$text-color-dark: #93B1A6;

// Light Theme Colors (Optional: If you want to toggle between light and dark themes)
$primary-color-light: #854836;
$secondary-color-light: #F5B553;
$background-color-light: #F7F7F7;
$text-color-light: #000000;


// Font variables
$body-font: "Roboto Slab", serif;

// Apply font and colors
body {
  font-family: "Roboto Slab", serif;
  background-color: $background-color-light;
  color: $text-color-light !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $body-font;
}

a {
  color: $primary-color-light;
}

.site-title:visited, .trigger, .site-nav, .page-link, .site-title {
  background-color: $background-color-light;
  color: $text-color-light !important;
  font-family: "Roboto Slab", serif !important;
  font-size: 20px !important;	
  font-weight:400 !important;	
}

.site-title:visited, .site-title {
  background-color: $background-color-light;
  color: $text-color-light !important;
  font-family: "Roboto Slab", serif !important;
  font-size: 30px !important;	
  font-weight:400 !important;	
}

.site-title:hover, .site-nav:hover, .page-link:hover {
  font-family: $body-font;
  color: $secondary-color-light !important;
}



.post-meta, a.visited, .site-footer, .footer-col-wrapper {
  font-family: $body-font;
  background-color: $background-color-light;
  color: $text-color-light !important;
}
.language-plaintext {
  background-color: $secondary-color-light !important;
  color: $text-color-light !important;
}

a:hover {
  color: $secondary-color-light;
}
